* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header,
.first-container,
.second-container {
    padding: 10px 256px; /* MUDAR */
}


/* HEADER */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-info {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin: 64px 0;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.header-img {
    width: 500px;
    height: 250px;
    background-color: #9b9b9b;
}

.header-info button {
    margin-top: 24px;
}


/* FIRST CONTAINER */
.first-container > p {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.first-container .subtext {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.img {
    border: 3px solid #3882F6;
    border-radius: 16px;
    width: 180px;
    height: 180px;
}

.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 20px;
}


/* SECOND CONTAINER */
.second-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    padding-bottom: 72px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.author {
    color: #1F2937;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-align: right;
}


/* THIRD CONTAINER */
.third-container {
    margin: 80px 256px; /* MUDAR */
    height: 150px;
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.third-container button {
    border: 3px solid white;
}

.texts {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.texts p {
    margin: 0;
}

.third-subtext {
    font-size: 18px;
}

/* FOOTER */
/* footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
} */